div.header
{	
	color:#cccccc;	
	font:24 px,"Verdana";		
	border-bottom: 1px solid #CACACA;
	background-color:#000000;	
	padding-left:24px;	
}

div.searchform
{		
	padding-top:15px;
	padding-left:24px;
	padding-right:24px;
	font: 8 px, "Verdana";
	width:100%;
	margin-left:24px;
}

body
{
	margin: 0px;
	padding: 0px;
}

table.selectTable
{
	width:100%;
	padding:10px;
}

span.title{
	font-size:18px;
	font-family:tahoma;
	font-weight:bolder;
}

